*,*:after,*:before{    /**is selecting everything. This allows us to apply the border-box model to all elements on the page.*/
	box-sizing: border-box;
}


@media(max-width:50rem){
  /*navigation responsiveness*/
  .navigation{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  /*homepage responsiveness*/
  .homeContainer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column; 
  }

  .homeContainer img{
    width: auto;
    height:100%;
  }

  .homeText{
    position: absolute;
    bottom: 2rem;
    right: 5rem;
  }

  /*project1 responsiveness*/

  .project1 {
    padding-left: 5rem; 
  }

  .project1 p{
/*    max-width: 100%;
*/    min-width: 90%;
  }


  .Product_Listing {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #aboutContainer1{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #aboutContainer2{
  	display: flex;
    align-items: center;
    flex-direction: column;
  }



  .events{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .row{
  flex-direction: column-reverse;
  }

  .col-20{
    margin-top: 20px;
  }


  #navOptions{
    padding-top: 1rem;
  }
  .col-22{
    margin-bottom: 20px;
  }

  #homepageNav #navOptions nav a{
    display: flex;
    align-items: right;
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
  }

  #Product_Detail h4{
    max-width: 80%;
  }

}

@media(max-width:30rem){
  
  #aboutContainer1{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #aboutContainer2{
    display: flex;
    align-items: center;
    flex-direction: column;
  }




}

