*,*:after,*:before{    /**is selecting everything. This allows us to apply the border-box model to all elements on the page.*/
	box-sizing: border-box;
}


@media(max-width:60rem){
  /*navigation responsiveness*/
  .navigation{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  #navOptions{
    padding-top: 1rem;
  }

  #homepageNav #navOptions nav a{
    display: flex;
    align-items: right;
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
  }
  

  /*homepage responsiveness*/
  .homeContainer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column; 
  }

  .homeContainer img{
    width: auto;
    height:100%;
  }

  .homeText{
/*    position: absolute;
*/    bottom: 2rem;
    right: 5rem;
  }

  /*project pages responsiveness*/

  .project {
    padding-left: 5rem; 
    padding-right: 1.5rem;
  }

  .project p{
/*    max-width: 100%;
*/    min-width: 90%;
  }

  /*about page responsiveness*/
  #aboutContainer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column; 
    padding-left: 6rem;
    padding-right: 1rem;
  }

  #aboutContainer img{
    min-width:100%;
    min-height:100%; 
  }

  #aboutText{
/*    max-width: 100%;
*/    min-width: 100%;
  }

  /*footer*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 0.1rem;

}

footer a{
  padding-right: 0.5rem;
  padding-bottom: 0.1rem;
  text-decoration: none;
  color: #3541f5;
}


}

@media(max-width:30rem){
  
  #aboutContainer1{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #aboutContainer2{
    display: flex;
    align-items: center;
    flex-direction: column;
  }




}

