/*
  STYLE GUIDE STYLING 
*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size:1rem;
  margin:0;
}



/*homepage style*/
.index{
  overflow: hidden;
}

.homeContainer{
  position: relative;
  text-align: left;
  margin-bottom:3rem;
  overflow: hidden;
}

.homeText{
  position: absolute;
  bottom: 5rem;
  right: 15rem;
  padding-bottom: 3rem;
}

/*homepage background pic styling*/
#homepic{ 
  padding-left: 5rem;
  padding-bottom:5rem;
  width: 70%;
  height: auto;
}

/*style guide page style*/
#style_guide_body{
  padding:2rem 2rem;
}



/*navigation bar styling*/
.navigation{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  padding-right: 1rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;

  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
/*  width: 100%;*/ /* Full width */
}

.navigation a{
  text-decoration: none;
}

nav a{
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  line-height: 20px;
  display: block;
  letter-spacing:0.8px;
  color: #3541f5;
  padding: 10px 10px;
}

nav a:hover, focus{
  color: #222455;
  text-decoration: none;
}

.active{
  color: #222455;
  text-decoration: none;  
}

nav a:active{
  color: #222455;
  text-decoration: none;  
}

/*headings styling*/

h1{
  font-family: 'Barlow', sans-serif;
  letter-spacing: normal;
/*line-height: 1.4;*/  
  font-style: italic;
  font-weight: 300;
  margin: 0rem;
  font-size: 8rem;
  color: #3541f5;
  text-decoration:none;
}

h2 {
  font-family: 'Barlow', sans-serif;
  letter-spacing: normal;
/*line-height: 1.4;*/  
  font-weight: 100;
  margin: 0rem;
  font-size: 5rem;
  color: #3541f5;
  text-decoration:none;
  padding-bottom:1rem; 
  margin-left:-0.4rem; 
  margin-top: -0.5rem;
}

h3 {
  font-family: 'Barlow', sans-serif;
  letter-spacing: normal;
/*line-height: 1.4;*/  
  font-weight: 200;
  margin: 0rem;
  font-size: 2rem;
  color: #3541f5;
  text-decoration:none;
  padding-top: 4rem;
  padding-bottom: 0.5rem;
}

h4 {
  font-family: 'Barlow', sans-serif;
  letter-spacing: normal;
/*line-height: 1.4;*/  
  font-weight: 200;
  margin: 0rem;
  font-size: 2rem;
  color: #000000;
  text-decoration:none;
}

h5{
  font-family: 'Barlow', sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.5;  
  font-weight: 600;
  margin: 0rem;
  font-size: 1.5rem;
  color: #8f8f90;
  text-decoration:none;
}

h6{
  font-family: 'Barlow', sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.6;  
  font-weight: 600;
  margin: 0rem;
  font-size: 1.5rem;
  color: #000000;
  text-decoration:none;
}

/* paragraph style*/
p{
  font-family: 'Barlow', sans-serif;
  letter-spacing: 0.6px;
  line-height: 1.7; 
  font-weight: 400;
  margin: 0rem;
  font-size: 1.3rem;
  color: #000000;
  text-decoration:none;
  max-width: 28em;
}

/* img style*/
img {
  padding-top:2rem;
  width: auto;
  height: 100%;
}

#homeimg{
	height: 100%;
  display: flex;
  align-items: flex-end;
  padding-right: 1rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

/*section element styles*/
section {  
/*  margin-top: 1em;
*/  margin-bottom: 2rem;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/
/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  border: 1.5px solid #4CAF50;
  border-radius: 8px;
  background-color: white;
  color: #4CAF50;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: lighter;/*???*/
  transition-property: color; 
  transition-duration: 0.5s;
  text-decoration: none;
}

.button-nav:hover, .button-nav:focus {
  background-color: #4CAF50;
  color: white;
}


/*changing intext link styles*/

#inText a{
  display: inline-block;
  font-weight: 600;
  color:#4aa5f3;
  transition-property: color; 
  transition-duration: 0.25s;
  text-decoration: none;
}

#inText a:hover, #inText a:focus{
  color: #3541f5;
}

/*intext link for contact styles*/
#inText2 a{
  display: inline-block;
  font-weight: 400;
  font-size:1.5rem;
  letter-spacing: 0.03rem;
  color:#3541f5;
  transition-property: color; 
  transition-duration: 0.25s;
  text-decoration: none;
  padding-bottom: 0.3rem;
}

#inText2 a:hover, #inText2 a:focus{
  color: #222455;
}

/*About page Styles*/

/*The greeting statement*/
#Name a{
  padding-top: 0.5rem;
  color:#3541f5;
}

 #aboutText{
  padding-top: 3rem; 
  max-width: 70%;
 }

#aboutContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20rem;
  padding-right:5rem;
 }


#aboutContainer img{
  max-width: 50%;
  height: auto;
 }

#aboutContainer h4{
  padding-top: 2rem;
}

.contactInfo{
  display: flex;
  justify-content: flex-start;
  flex-direction: column; 
  padding-top: 2rem;
  padding-bottom: 3rem;
}

/*project spacing*/
#projectSpacing1{
  padding-top:2rem;
}

#projectSpacing2{
  padding-top:6rem;
}

.inLine{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: baseline;
}

.inLine h5{
  padding-left: 1rem;

}



/*project page Styles*/
.project{
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 20rem;
  padding-right:5rem;

}

/*.project1 div{
  padding:1em 2em;
  display: flex;
  align-items: center;
  flex-direction: column ;
  justify-content: center;
  max-width: 60%;
  text-align: left;
}*/
/*
.project1 h2 h5 p {
  padding: 1em 1em;
  align-items: flex-start;
}*/

.project p{
  padding-bottom:2rem; 
  padding-top:0.5rem;
  max-width:70%;
  min-width: 20rem;
}

.project img {
  min-width: 80%;
  max-width:100%;
  height: auto;
  width: auto;
}

/*----------footer-----------*/
#citations{
  margin-top:  7em;
}

.footer-container{
  width: 100%;
  position:relative;
  bottom: 0;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;

}

.col-25{
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
}

.col-25 nav a{
  color: #fff;
}

.col-25 nav a:hover, focus{
  color: #4CAF50;
  text-decoration: none;
}


/*#indexfooter-container{
  width: 100%;
  position:absolute;
  bottom: 0;
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}*/

#indexfooter{
  width: 100%;
  background-color: #222;
  padding: 10px 0px;
  position: absolute;
  bottom: 0;
  color: #fff;
  text-align: center;
  font-size: 0.85rem;
}

/*footer{
  width:100%;
  background-color: #222;
  padding: 10px 0px;
  position: relative;
  bottom: 0;
  color: #fff;
  text-align: center;
  font-size: 0.85rem;
}*/

footer{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   color: #3541f5;
   padding-bottom: 1rem;
   padding-left: 20rem;
}

footer a{
  display: inline-block;
  padding-right: 0.5rem;
  text-decoration: none;
  color: #3541f5;
}

footer a:hover, footer a:focus{
  color: #222455;
}

/*Citations*/
#citations{
  padding:1em 2em;
  display: flex;
  align-items: center;
  flex-direction: column ;
  justify-content: center;
  max-width: 80%;
  text-align: left;
}