/*Elly Wei Portfolio Main Styling sheet*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size:1rem;
  margin:0;
}



/*homepage style*/
/*.index{
  overflow: hidden;
}*/

.homeContainer{
  position: relative;
  text-align: left;
  margin-bottom:3rem;
  overflow: hidden;
}

.homeText{
  position: absolute;
  bottom: 5rem;
  right: 15rem;
  padding-bottom: 3rem;
}

/*homepage background pic styling*/
#homepic{ 
  padding-left: 5rem;
  padding-bottom:5rem;
  width: 70%;
  height: auto;
  min-height:100%;

}

/*navigation bar styling*/

/*fixed navigation bar for pages other than home page*/
#FixedNav{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
/*  width: 100%;*/ /* Full width */
}

.navigation{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  padding-right: 1rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
}

.navigation a{
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  line-height: 20px;
  display: block;
  letter-spacing:0.8px;
  color: #3541f5;
  padding: 10px 10px;
  margin-top:2px;
  margin-bottom:2px;
}

.navigation a:hover{
  color: #222455;
}
.navigation a:active{
  color: #222455;
}

.navigation .icon {
  display: none;
}


/*nav a{
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  line-height: 20px;
  display: block;
  letter-spacing:0.8px;
  color: #3541f5;
  padding: 10px 10px;
}*/

/*nav a: hover, focus{
  color: #222455;
  text-decoration: none;
}*/

.navigation .active{
  color: #222455;
}

/*nav a: active{
  color: #222455;
  text-decoration: none;  
}*/

/*headings styling*/

h1{
  font-family: 'Barlow', sans-serif;
  letter-spacing: normal;
/*line-height: 1.4;*/  
  font-style: italic;
  font-weight: 300;
  margin: 0rem;
  font-size: 8rem;
  color: #3541f5;
  text-decoration:none;
}

h2 {
  font-family: 'Barlow', sans-serif;
  letter-spacing: normal;
/*line-height: 1.4;*/  
  font-weight: 100;
  margin: 0rem;
  font-size: 5rem;
  color: #3541f5;
  text-decoration:none;
  padding-bottom:1rem; 
  margin-left:-0.4rem; 
  margin-top: -0.5rem;
}

h3 {
  font-family: 'Barlow', sans-serif;
  letter-spacing: normal;
/*line-height: 1.4;*/  
  font-weight: 200;
  margin: 0rem;
  font-size: 2rem;
  color: #3541f5;
  text-decoration:none;
  padding-top: 4rem;
  padding-bottom: 0.5rem;
}

h4 {
  font-family: 'Barlow', sans-serif;
  letter-spacing: normal;
/*line-height: 1.4;*/  
  font-weight: 200;
  margin: 0rem;
  font-size: 2rem;
  color: #000000;
  text-decoration:none;
}

h5{
  font-family: 'Barlow', sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.5;  
  font-weight: 600;
  margin: 0rem;
  font-size: 1.5rem;
  color: #8f8f90;
  text-decoration:none;
}

h6{
  font-family: 'Barlow', sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.6;  
  font-weight: 600;
  margin: 0rem;
  font-size: 1.5rem;
  color: #000000;
  text-decoration:none;
}

/* paragraph style*/
p{
  font-family: 'Barlow', sans-serif;
  letter-spacing: 0.6px;
  line-height: 1.7; 
  font-weight: 400;
  margin: 0rem;
  font-size: 1.3rem;
  color: #000000;
  text-decoration:none;
  max-width: 28em;
}

/* img style*/
img {
  padding-top:2rem;
  height: 100%;
}

/*#homeimg{
	height: 100%;
  display: flex;
  align-items: flex-end;
  padding-right: 1rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}*/

/*section element styles*/
section {  
/*  margin-top: 1em;
*/  margin-bottom: 2rem;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/


/*changing intext link styles*/

#inText a{
  display: inline-block;
  font-weight: 600;
  color:#4aa5f3;
  transition-property: color; 
  transition-duration: 0.25s;
  text-decoration: none;
}

#inText a:hover, #inText a:focus{
  color: #3541f5;
}

/*intext link for contact styles*/
#inText2 a{
  display: inline-block;
  font-weight: 400;
  font-size:1.5rem;
  letter-spacing: 0.03rem;
  color:#3541f5;
  transition-property: color; 
  transition-duration: 0.25s;
  text-decoration: none;
  padding-bottom: 0.3rem;
}

#inText2 a:hover, #inText2 a:focus{
  color: #222455;
}

/*About page Styles*/

/*The greeting statement*/
#Name a{
  padding-top: 0.5rem;
  color:#3541f5;
}

 #aboutText{
  padding-top: 3rem; 
  max-width: 90%;
 }

#aboutContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20rem;
  padding-right:5rem;
 }


#aboutContainer img{
  max-width: 60%;
  height: auto;
 }

#aboutContainer h4{
  padding-top: 2rem;
}

.contactInfo{
  display: flex;
  justify-content: flex-start;
  flex-direction: column; 
  padding-top: 2rem;
  padding-bottom: 3rem;
}

/*project spacing*/
#projectSpacing1{
  padding-top:2rem;
}

#projectSpacing2{
  padding-top:6rem;
}

.inLine{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: baseline;
}

.inLine h5{
  padding-left: 1rem;

}

.inLine2{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: baseline;
}

.inLine2 h5, h6{
  padding-right: 5rem;
}


/*project page Styles*/
.project{
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 20rem;
  padding-right:5rem;

}

/*.project1 div{
  padding:1em 2em;
  display: flex;
  align-items: center;
  flex-direction: column ;
  justify-content: center;
  max-width: 60%;
  text-align: left;
}*/
/*
.project1 h2 h5 p {
  padding: 1em 1em;
  align-items: flex-start;
}*/

.project p{
  padding-bottom:2rem; 
  padding-top:0.5rem;
  max-width:70%;
  min-width: 20rem;
}

.project img {
  min-width: 80%;
  max-width:100%;
  height: auto;
  width: auto;
}



/*  STYLE GUIDE STYLING */
.styleGuide{
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 20rem;
  padding-right:5rem;

}

.styleGuide p{
  padding-bottom:2rem; 
  padding-top:0.5rem;
  max-width:70%;
  min-width: 20rem;
}

.styleGuide img {
  min-height:50%;
  height: auto;
  width: 50%;
}


.colorBlock{ 
  display: inline-block;
  width:8rem;
  height:5rem;
/*  margin:0;
*/  text-align: center;
  vertical-align: middle;
  color:white;
  margin-right:1rem;
}

#Color1{
  background-color:#4aa5f3;
}

#Color2{
  background-color:#3541f5;
}

#Color3{
  background-color:#222455;
}

#Color4{
  background-color:#000000;
}

#Color5{
  background-color:#8f8f90;
}

#Color6{
  background-color:#ffffff;
  color:black;
  border-style: solid;
  border-width: 1pt;
}
/*----------footer-----------*/
#citations{
  margin-top:  7em;
}

.footer-container{
  width: 100%;
  position:relative;
  bottom: 0;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;

}

/*footer{
  width:100%;
  background-color: #222;
  padding: 10px 0px;
  position: relative;
  bottom: 0;
  color: #fff;
  text-align: center;
  font-size: 0.85rem;
}*/

footer{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   color: #3541f5;
   padding-bottom: 1rem;
   padding-left: 20rem;
}

footer a{
  padding-right: 0.5rem;
  text-decoration: none;
  color: #3541f5;
}

footer a:hover, footer a:focus{
  color: #222455;
}

/*Citations*/
#citations{
  padding:1em 2em;
  display: flex;
  align-items: center;
  flex-direction: column ;
  justify-content: center;
  max-width: 80%;
  text-align: left;
}